version: '3.7'

services:
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
   
    volumes:
      - pg_budget_data:/var/lib/postgresql/data

volumes:
  pg_budget_data: