version: '3.7'

services:
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
   
    volumes:
      - pg_budget_data:/var/lib/postgresql/data

volumes:
  pg_budget_data: